body{
    background-color: #3A3B3C ;
    color: #E4E6EB;
    font-size: 26px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
a,a:visited{
    color: grey;
    text-decoration: none;
    font-weight: bold;
}
ul {
    list-style-type: square;
  }